.admin-panel {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2%;
  background-color: #110138;
}

.admin-sections {
  background-color: #06051f;
  border: solid .5px #5e5e5e;
  border-radius: 10px;
  width: 60%;
  height: fit-content;
  display: flex;
  padding: 2%;
  flex-direction: column;
  gap: 20px;
}

.admin-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: rgb(255, 255, 255);
}


.added-contents {

  width: fit-content;
  padding: 10%;
  background-color: #111111;
  border-radius: 10px;
  border: solid .5px #5e5e5e;
  display: flex;
  flex-direction: column;
}

.admin-header h1 {
  font-size: 2.5rem;
  color: #ffffff;
  padding-block: 15px;
}



.panel-contents {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.managepanel {

  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: fit-content;
}

.manageitem {
  border: 1px solid #d0d3ff49;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.editable-content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.display-content {
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-group label {
  font-weight: bold;
}

input[type="text"],
input[type="file"] {
  color: rgb(23, 23, 24);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}



.button {

  padding: 10px 15px;
  border: solid .5px #5050504d;
  background-color: #1c1a3d1a;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

.admin-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  flex-direction: row;
}


button:hover {
  background-color: #434190;
}

.img {
  margin-top: 10px;
  border-radius: 10px;
}

.save-all-button {
  margin-top: 30px;
}

