.admin-panel {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

.panel {
    justify-content: space-between;
   text-align: center;
   align-items: center;
  }

  .managepanel {

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: fit-content;
  }

  .manageitem {
    border: 1px solid #d0d3ff49;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .admin-panel.buttons {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

.editable-content {
    justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.display-content {
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-group label {
  font-weight: bold;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #434190;
}

.img {
  margin-top: 10px;
  border-radius: 10px;
}

.save-all-button {
  margin-top: 30px;
}
