.admin-panel {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.admin-header h1 {
    font-size: 2.5rem;
    color: #200a49;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.062), rgba(43, 43, 43, 0.062));
    padding-block: 15px;
}

.panel {
    justify-content: space-between;
   text-align: center;
   align-items: center;
  }

  .managepanel {

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: fit-content;
  }

  .manageitem {
    border: 1px solid #d0d3ff49;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .admin-panel.buttons {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

.editable-content {
    justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.display-content {
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-group label {
  font-weight: bold;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.content {
  padding: 10px;
 display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}



.button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #9f5ad8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-panel.buttons {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
  }
  

button:hover {
  background-color: #434190;
}

.img {
  margin-top: 10px;
  border-radius: 10px;
}

.save-all-button {
  margin-top: 30px;
}
