body {
  background: linear-gradient(180deg, #181716, #131313); /* Gradient from blue to cyan */
  z-index: auto;
height: fit-content;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.App {
  scroll-behavior: smooth; /* Enable smooth scrolling */

  
}

nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  mix-blend-mode:lighten;
  position: fixed;

  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.nav-links a {
  
  text-align: center;
  color: white; /* Navigation link color */
  text-decoration: none;
  transition: transform 1s ease; /* Animation for hover */}

.nav-links a:hover {
 font-size: 20px;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes appear {
  from {
   opacity: 0;
   scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


