#contact {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: none;
  }


  .contact-Content {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
    width: 100%;
    cursor: none;
  }

  .contact-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    cursor: none;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    cursor: none;
  }
  .fab {
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10%;
    
    border-radius: 40px;
    text-align: center;
    color: #ffffff;

    width: 100%;
    overflow: hidden;
    cursor: none;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    cursor: none;
  }
  
  .contact h3 {
    font: size 24pt;
    color: antiquewhite;
    padding-block: 15px;

  }

  .contact p {
    font-size: 12pt;
    color: antiquewhite;
    padding-block: 15px;

  }
  
  .contact-form {
    max-width: 100%;
    margin: 0 auto;
    cursor: none;

  }
  
  .form-group {
    margin-bottom: 20px;
    color: #ffffff;
    cursor: none;
  }
  
  .form-group label {
    display: block;
    font-weight:normal;
    margin-bottom: 5px;
    color: #ffffff;
    cursor: none;
  }
  
  .form-group input {
    color: #ffffff;
    cursor: none;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d0d3ff49;
    background-color: #ffffff15;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    cursor: none;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: none;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  @keyframes movex {
    from {
     opacity: 0;
     transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes appear {
    from {
     opacity: 0;
     scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }