#contact {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .contact-Content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    width: 100%;
    overflow: hidden;
    cursor: none;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    cursor: none;
  }
  
  .contact h3 {
    font-size: 2.5rem;
    color: antiquewhite;
    padding-block: 15px;

  }

  .contact p {
    font-size: 12pt;
    color: antiquewhite;
    padding-block: 15px;

  }
  
  .contact-form {
    max-width: 100%;
    margin: 0 auto;

  }
  
  .form-group {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .form-group label {
    display: block;
    font-weight:normal;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .form-group input {
    color: #ffffff;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d0d3ff49;
    background-color: #ffffff15;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  @keyframes movex {
    from {
     opacity: 0;
     transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes appear {
    from {
     opacity: 0;
     scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }