#introduction-section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-height: max-content;
  min-height: 100vh;
  

  background-blend-mode: multiply;
  cursor: none;
 /* background-image: linear-gradient(
      180deg,
      rgb(255, 255, 255),
      rgb(255, 0, 0)
    ),
    url("../assets/Background.png");*/
    
}

#home-content h2 {
  margin-bottom: -14px;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

#home-content h2:hover {
  opacity: 1;
  transform: translate(10px);
}

#text-content:hover ~ .cursor {
  transform: scale(4);
  
}

#home-content {
 
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
 align-content: center;
  width: 100%;
  overflow: hidden;
  margin-inline: 100px;
  gap: 100px;
  cursor: none;
  
}

#introduction-title
{
  align-items: center;
  width: 100%; 
  top: 0; 
  z-index: 10; 
  padding-bottom: 100px ; 
}



#introduction-title .title h2 {
  text-align: center;
  height: fit-content;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  z-index: 10;
  
}


#text-content h1 {
  font-weight: bold;
  margin-bottom: -20px;
  margin-top: -60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: none;
}

#text-content h3 {
  text-transform: capitalize;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  cursor: none;
}

#text-content h2 {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 60px;
  cursor: none;
}

#home-content-header {
  align-content: center;
  cursor: none;
  align-items:end;
  padding-top: 200px;
  position: sticky;
  gap: 30px;
 
}

#home-content-header .text-content{
  display: flex;
  align-content: center;
  text-align: center;
  flex-direction: column;
 

}


/* Media Queries for smaller screens */

@media screen and (max-width: 1024px) {
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .text-content h1 {
    font-size: 8rem; /* Smaller font size for h1 */
  }

  .text-content h2 {
    font-size: 3rem; /* Smaller font size for h2 */
  }

  .text-content h3 {
    font-size: 3rem; /* Smaller font size for h3 */
  }
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .text-content h1 {
    font-size: 2rem; /* Mobile screen adjustment */
    margin-bottom: -10px;
  }

  .text-content h2 {
    font-size: 1rem; /* Mobile adjustment for h2 */
  }

  .text-content h3 {
    font-size: 1rem; /* Mobile adjustment for h3 */
  }
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}
