.introduction-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-image: linear-gradient(
      180deg,
      rgba(59, 18, 18, 0.555),
      rgb(0, 0, 0)
    ),
    url("../assets/Background.png");
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.drawing-board-container {
  width: 400px;
}

.home-content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.text-content {
  text-align: right;
}

.text-content h2 {
  font-size: 3rem;
  letter-spacing: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #ffffff;
}

.text-content h1 {
  font-size: 10rem;
  font-weight: bold;
  color: #ffbb00;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.text-content h3 {
  font-size: 4.5rem;
  margin-top: 0px;
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: right;
}

.connect-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  color: #007bff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-btn {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #d0d3ff49;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.connect-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.download-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.Adminbtnplace {
  z-index: 1;
  bottom: 0;
  width: 100%;
  right: 0px;
  position: fixed;
  padding: 50px;
}
.admin-btn {
  opacity: 20%;
  float: right;
  background-color: #5f5f5f56; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-btn:hover {
  background-color: #353535; /* Darker green */
  opacity: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.img {
  display: flex;
  width: 400px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #d0d3ff49;
  transition: transform 0.3s ease; /* Animation for hover */
}

.img:hover {
  transform: scale(95%);
}

.bgimg {
  opacity: 30%;

  position: absolute;
  z-index: -1;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.img .bgimg:hover {
  transform: scale(400px);
}

.home-img {
  width: 100%;
}

/* Media Queries for smaller screens */

@media screen and (max-width: 1024px) {
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .text-content h1 {
    font-size: 8rem; /* Smaller font size for h1 */
  }

  .text-content h2 {
    font-size: 3rem; /* Smaller font size for h2 */
  }

  .text-content h3 {
    font-size: 3rem; /* Smaller font size for h3 */
  }
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .text-content h1 {
    font-size: 2rem; /* Mobile screen adjustment */
  }

  .text-content h2 {
    font-size: 1rem; /* Mobile adjustment for h2 */
  }

  .text-content h3 {
    font-size: 1rem; /* Mobile adjustment for h3 */
  }
  .text-content {
    text-align: center;
    justify-content: center;
  }

  .buttons {
    justify-content: center;
  }
}
