.portfolio {
    justify-content: space-around;
    gap: 1em; /* Adjust gap as needed */
    padding: 1em;
    box-sizing: border-box;
    cursor: none;
}


/* Navbar Styles */
.navbarbordar {
  width: fit-content;
  position: sticky;
  justify-items: center;
  width: 100%;
  padding-top: 30px;
  top: 0;
  z-index: 10;
}

.navbar {
  padding-top: 10px;
  backdrop-filter: blur(5px);
  background-color: #16130fda;
  filter: grayscale(10px);
  display: flex;
  width: fit-content;
  border-radius: 50px;
  border: .5px solid;
  border-color: rgba(240, 248, 255, 0.274);
  padding-block: 20px;
  padding-inline: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 20px rgb(19, 17, 11);
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin: 0 20px;
}

.navbar-list a {
  cursor: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-list a:hover {
  color: #ff6347; /* Add a hover effect */
}

.portfolio h2 {
  color: beige;
  font-size: 2rem;
  margin-bottom: -14px;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.portfolio h2:hover {
  opacity: 1;
  transform: translate(10px);
}

.portfolio h3 {
  color: beige;
}

.portfolio .section1 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio .Contants {
  align-content: center;
  justify-content: center;
}

.portfolio .portfolio-list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

/* Responsive Design */

/* For screens 1200px and smaller */
@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    padding-block: 10px;
  }

  .navbar-list {
    flex-direction: column;
    margin-top: 10px;
  }

  .portfolio h2 {
    font-size: 1.8rem;
  }

  .portfolio .portfolio-list {
    width: 100%;
  }
}

/* For screens 992px and smaller */
@media screen and (max-width: 992px) {
  .navbar {
    padding-block: 15px;
  }

  .navbar-list {
    flex-direction: column;
    gap: 15px;
  }

  .portfolio h2 {
    font-size: 1.6rem;
  }

  .portfolio .portfolio-list {
    gap: 20px;
    width: 100%;
  }
}

/* For screens 768px and smaller */
@media screen and (max-width: 768px) {

  .navbarbordar {
    justify-items: right;
   
  }
  .navbar {
    flex-direction: column;
    padding-block: 10px;
  }

  .navbar-list {
    flex-direction: column;
    gap: 10px;
  }

  .portfolio h2 {
    font-size: 1.4rem;
  }

  .portfolio .portfolio-list {
    gap: 15px;
  }
}

/* For screens 576px and smaller (mobile) */
@media screen and (max-width: 576px) {
  .portfolio h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .navbar {
    padding-block: 10px;

    flex-direction: column;
  }

  .navbar-list {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  .portfolio .portfolio-list {
    gap: 10px;
    width: 100%;
  }
}
