.portfolio {
    padding: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0),rgba(43, 43, 43, 0.062));
    
  }


.portfolio-list {

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
}


  .portfolio h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.062),rgba(43, 43, 43, 0));
    padding-block: 15px;


  }

 
  
  
  
  