.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #22222250;
    border: 1px solid #d0d3ff49;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    transform: scale(0.95);
    opacity: 0.5;
    text-align: center;
  }

  
  .portfolio-item:hover {
    transform: scale(1);
    opacity: 1;
  }

  
  .portfolio-image {
    max-width: 400px;
    min-width: 200px;
    height: auto;
    border-radius: 8px;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.4s ease-out;
    
  }

  .portfolio-item:hover .portfolio-image {
    transform: scale(1.05); /* Slight scale-up on hover */
  }
  
  .portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    flex-grow: 1;
  }
  
  .portfolio-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .view-btn {
    text-decoration: none;
    background-color: #ffbb00ea;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: space-around;
    width: 90%;
    text-align: center;
  }
  
  .view-btn:hover {
    background-color: #36e909d7;
  }
  
  .portfolio-item {
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    transform: scale(0.95);
    opacity: 0.5;
  }
  
  .portfolio-item.scale-up {
    transform: scale(1);
    opacity: 1;
  }