.portfolio { 
  /* background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgba(14, 0, 0, 0.808)
  ); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;
  cursor: none;
}

.portfolio h2 {
  color: beige;
  margin-bottom: -60px;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.portfolio h2:hover {
  opacity: 1;
  transform: translate(10px);
}

.portfolio h3 {
  color: beige;
}

.portfolio .titlefm {
  width: 100%;
  margin-bottom: 150px;
}

.portfolio .title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 100px;
  font-size: 40px;
}

.portfolio .section1 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.portfolio .section2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.portfolio .section3 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.portfolio .headertitle {
  text-align: right;
  font-size: 40px; 
  height: fit-content;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  margin-right: 100px;
  padding-top: 200px;
}

.portfolio .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 50px;
  cursor: none;
  gap: 10px;
  z-index: 1;
  margin-bottom: 50px; /* Adjust margin to space out items */
}
